@font-face {
    font-family: "Five Years Later";
    src: url('../assets/fonts/five-years-later-regular.otf') format("opentype");
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Regular.ttf') format("opentype");
}

@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Italic.ttf') format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Bold.ttf') format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-BoldItalic.ttf') format("opentype");
    font-style: italic;
    font-weight: bold;
}

/***********/

.help__ukraine {
    width: 45px;
    position: absolute;
    top: 15px;
    right: 20px;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(var(--transition-end-position-x), var(--transition-end-position-y));
    }

   90% {
        opacity: 0;
        transform: translate(var(--transition-end-position-x), var(--transition-end-position-y));
   }

   100% {
        opacity: 0;
        transform: translate(99999px);
   }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(99999px);
    }

   10% {
        opacity: 0;
        transform: translate(var(--transition-end-position-x), var(--transition-end-position-y));
   }

   100% {
        opacity: 1;
        transform: translate(var(--transition-end-position-x), var(--transition-end-position-y));
   }
}

:root {
    --transition-end-position-x: 0;
    --transition-end-position-y: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000E17;
    min-height: 100vh;
    font-family: Five Years Later;
}

body.no-overflow {
    overflow: hidden;
}

#map {
    height: 600px;
    width: 100%;
}

.title {
    width: 100%;
    font-size: 3.375rem;
    color: #10BEC9;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.title--inverted {
    color: #000E17;
}

.header {
    min-height: calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding: 0 56px;
    background: url('../assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.header__hero {
    width: 100%;
    max-width: 1440px;
}

.header__text {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav {
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.nav--sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000E17;
    z-index: 100;
}

.nav__logo {
    width: 40px;
}

.nav__button {
    background: transparent;
    border: none;
    cursor: pointer;
    order: 2;
}

.nav__list {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background: #000E17;
    gap: 70px;
    padding: 15vh 0 0 0;
    margin: 0;
    transform: translate(99999px);
}

.nav__get-tickets {
    padding: 8px 12px;
    background: #10BEC9;
    border-radius: 10px;
    flex-shrink: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #000E17;
    cursor: pointer;
    order: 1;
    margin: 0 0 0 auto;
}

.animate-visible {
    animation: fadeIn .5s ease forwards;
}

.animate-hidden {
    animation: fadeOut .5s ease forwards;
}

.nav__item {
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 4px;
    border-bottom: 1px solid #10BEC9;
}

.nav a {
    color: currentColor;
    text-decoration: none;
}

.nav__close-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 30px;
    top: 30px;
}

.nav__close-button img {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

.main__description {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 160px auto;
}

.main__description.normal__variation {
    font-size: 1rem;
}

.partners__invitation {
    color: #000;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px auto;
}

.main__info {
    background-color: #10BEC9;
    padding: 20px 52px;
    margin: 0;
    color: #000E17;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.main__info a {
    color: currentColor;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 40px 0 40px;
    overflow: hidden;
}

.section--inverted {
    background: #fff;
}

.section__description {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    max-width: 680px;
    margin-bottom: 40px;
    color: #B2B8BC;
}

.section__column {
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-start;
}

.card {
    --card-main-color: #fff;
    --card-description-color: #B2B8BC;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    color: var(--card-main-color);
}

.card--inverted {
    --card-main-color: #000E17;
    --card-description-color: #373C40;
}

.card__illustration {
    border-radius: 40px;
    width: 200px;
    margin: auto;
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card__title {
    margin: 0 0 4px 0;
    font-size: 1.625rem;
    text-transform: uppercase;
    text-align: left;
}

.card__description {
    font-family: Roboto;
    margin: 0 0 20px 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--card-description-color);
    text-align: left;
}

.card__description.organizer__variation {
    text-transform: none;
}

.card__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 20px;
}

.card__hashtag {
    color: currentColor;
    font-size: 1.125rem;
    text-transform: uppercase;
    word-break: break-word;
}

.card__more-button {
    border: none;
    color: #000E17;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    gap: 6px;
}

.card__more-button img {
    width: 16px;
}

.card__button-content {
    margin-top: 4px;
}

.partners-section {
    padding: 80px 40px 40px 40px;
}

.partners__list {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-bottom: 80px;
    overflow-x: scroll;
}

.partners__list dt {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-width: 300px;
    border-top: 2px solid #B2B8BC;
    padding: 44px 190px 44px 0;
    font-size: 40px;
    color: #000E17;
    text-transform: uppercase;
}

.partners__list dd {
    border-top: 2px solid #B2B8BC;
    padding: 44px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 70px;
}

.partners__contact {
    display: flex;
    flex-direction: column;
    background: #000E17;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 660px;
}

.partners__contact-title {
    color: #10BEC9;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.partners__contact-text {
    color: #B2B8BC;
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-family: Roboto;
}

.partners__contact-text a {
    color: #fff;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.footer__copyright {
    font-size: 1rem;
    color: #000E17;
    margin: 0;
}

a.twitter-follow-button {
    visibility: hidden;
}

.modal {
    --transition-end-position-x: -50%;
    --transition-end-position-y: -50%;

    width: calc(100% - 32px);
    max-height: calc(100% - 200px);
    overflow-y: scroll;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 40px;
    border: 20px solid #061B29;
    transform: translate(99999px);
}

.modal__personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.modal__image {
    width: 100%;
    max-width: 200px;
    border-radius: 40px; 
}

.modal__name {
    font-size: 40px;
    text-transform: uppercase;
    color: #061B29;
    margin: 0;
    word-break: break-word;
}

.modal__location {
    color: #465056;
    font-size: 19px;
    font-family: Roboto;
}

.modal__personal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__section-title {
    color: #061B29;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    text-align: center;
}

.modal__social-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 0 20px 0;
    padding: 0;
}

.modal__social-link {
    color: #10BEC9;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
}

.modal__technologies {
    padding: 20px 0;
    border-top: 1px solid #B2B8BC;
    border-bottom: 1px solid #B2B8BC;
    margin-bottom: 20px;
}

.modal__description {
    margin: 0;
    color: #061B29;
    font-size: 19px;
    line-height: 150%;
    font-family: Roboto;
    font-weight: 400;
    text-align: left;
}

.modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #10BEC9;
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__close img {
    width: 16px;
}

.location {
    padding-bottom: 80px;
}

.location__image {
    width: 100%;
}

.location__address {
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    color: #B2B8BC;
    line-height: 150%;
}

.location__address b {
    color: #fff;
}

.location__address-title {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

@media all and (min-width: 600px) {
    .card {
        flex-direction: row;
    }

    .card__illustration {
        margin: 0;
    }
}

@media all and (min-width: 860px) {
    .header__text {
        font-size: 2.125rem;
    }

    .nav__button {
        display: none;
        order: 1;
    }

    .nav__get-tickets {
        order: 2;
        margin: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        position: unset;
        padding: 0;
        opacity: 1;
        z-index: 0;
        transform: translate(0);
    }

    .nav__item {
        font-size: 1.125rem;
    }

    .nav__close-button {
        display: none;
    }

    .section {
        padding: 80px 80px 0 80px;
    }

    .section__column {
        justify-content: flex-start;
    }

    .location {
        padding-bottom: 80px;
    }

    .main__info {
        font-size: 2.125rem;
    }

    .main__description {
        font-size: 2.125rem;
        max-width: 1154px;
    }

    .main__description.normal__variation {
        font-size: 1.125rem;
        max-width: 1154px;
    }

    .partners-section {
        padding: 80px 120px 40px 120px;
        font-family: Roboto;
    }

    .partners__contact-title {
        font-size: 40px;
    }

    .modal__personal {
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 40px;
    }

    .modal__name {
        font-size: 60px;
    }
    
    .modal__personal-content {
        gap: 20px;
        padding: 0 50px 0 0;
    }

    .modal__social-list {
        margin: 0 0 40px 0;
    }
    
    .modal__technologies {
        margin-bottom: 40px;
    }
    
    .modal__close {
        width: 50px;
        height: 50px;
    }
    
    .modal__close img {
        width: 24px;
    }

    .modal__image {
        max-width: 240px;
    }
}
